// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-outer {
	background-color: lightgray;
	padding-top: 5px;
	padding-bottom: 15px;
}
input.radio {
	margin-top: 0px !important;
}