<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>"><span class="glyphicon glyphicon-<%= (name=="danger" ? "exclamation" : "info") %>-sign" aria-hidden="true"></span> <%= msg %></div>
<% end %>